@font-face {
	font-family: notosansmono;
	src: url(assets/NotoSansMono-VariableFont_wdth\,wght.ttf);
	font-weight: 400;
}

* { image-rendering: pixelated; user-select: none; }
body {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: #222;
	color: #fff;
	font-family: notosansmono;
	margin: 0;
	font-size: 0;
	
	--highlight: #fff;
	--bright: #999;
	--dark: #333;
	--background: #111;
}

button {
	--this-background: var(--background);
	border: none;
	outline: none;
	background: var(--this-background);
	color: var(--highlight);
	cursor: pointer;
}
button:hover, dropdown:hover {
	--this-background: var(--dark);
	outline: 2px solid var(--highlight);
	outline-offset: -2px;
}

header {
	box-sizing: border-box;
	padding: 4px;
	width: 100%;
	height: 52px;
	font-size: 0;
	display: none;
}

body[state="normal"] #header {display: block}
body[state="recipeSearch"] #recipeSearchHeader, body[state="recipeSearch"] #searchOverlay {display: block}
body[state="itemSearch"] #itemSearchHeader, body[state="itemSearch"] #searchOverlay {display: block}
#header > button {
	display: inline-block;
	width: 36px;
	height: 36px;
	margin: 4px;
	padding: 2px;
	background-size: 32px;
	background-position: 2px 2px;
}
#newRecipeButton { background: var(--this-background) no-repeat url(assets/newRecipe.png) }
#newItemButton { background: var(--this-background) no-repeat url(assets/newItem.png) }
dropdown {
	--this-background: var(--background);
	position: relative;
	font-size: 16px;
	background: var(--this-background);
	height: 36px;
	width: 200px;
	margin: 4px;
	text-align: center;
	line-height: 36px;
	vertical-align: middle;
	cursor: pointer;
	float: right;
	z-index: 1;
}
dropdown > div {
	position: absolute;
	top: 100%;
	width: 100%;
	line-height: normal;
	display: none;
	font-size: 0px;
	button {
		width: 100%;
		border-top: 2px solid var(--dark);
	}
}
dropdown.open > div {display: block}
#infoText {
	margin: 8px;
	line-height: 36px;
	vertical-align: middle;
	font-size: 16px;
}

#itemSearchBar, #recipeSearchBar {
	border: none;
	outline: none;
	width: 300px;
	height: 36px;
	font-size: 16px;
	padding: 0px 8px;
	margin: 4px;
	background: var(--background);
	color: var(--highlight);
}
#searchOverlay {
	--scroll-offset: 0;
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: calc(100% - 52px);
	top: 52px;
	background: #1115;
	z-index: 0;
	display: none;
	padding: 8px;
	overflow: hidden;
}
#searchOverlay node {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 8px;
	cursor: pointer;
	top: calc(var(--scroll-offset) * -1px);
	font-size: calc(1px * var(--scale));
	transform-origin: top left;
}
#searchOverlay .itemNode {
	box-sizing: content-box;
	width: 64em;
}
#searchOverlay item:hover {
	outline: none;
}
#searchOverlay .recipeNode {
	display: inline-flex;
	margin-top: 48em;
}

#hover {
	--posX: 0;
	--posY: 0;
	position: absolute;
	font-size: 12px;
	padding: 2px;
	background: var(--dark);
	left: calc(var(--posX) * 1px + 12px);
	top: calc(var(--posY) * 1px);
	display: none;
	z-index: 3;
	pointer-events: none;
}
#hover.show {
	display: block;
}

/* GRAPH STUFF STARTS HERE */

#wrapper {
	--posX: 0;
	--posY: 0;
	--scale: 1;
	width: 100%;
	height: calc(100% - 52px); /* surely theres a better way to do this but i kind of just dont care */
	background: url(assets/grid.png);
	background-size: calc(384px * var(--scale));
	background-position: calc(var(--posX) * 1px) calc(var(--posY) * 1px);
	overflow: hidden;
}
#graph {
	position: relative;
	width: 0;
	height: 0;
	left: calc(var(--posX) * 1px);
	top: calc(var(--posY) * 1px);
	transform: scale(var(--scale));
}

node {
	font-size: 1px;
	position: absolute;
	display: block;
	background: var(--background);
	box-sizing: border-box;
	--posX: 0;
	--posY: 0;
	padding: 13em;
	left: calc(round(var(--posX) + 3, 6) * 1px - 3px);
	top: calc(round(var(--posY) + 3, 6) * 1px - 3px);
}
.delete {
	position: absolute;
	font-size: 16px;
	top: -24px;
	right: 0px;
	height: 24px;
	width: 24px;
	background: var(--background);
	text-align: center;
	cursor: pointer;
}

item {
	position: relative;
	display: block;
	width: 64em;
	height: 64em;
	background: var(--dark) var(--image);
	background-size: contain;
	transition: outline 0.05s;
	--outline-width-multiplier: 1;
	outline: 0px solid;
	outline-offset: -2px;
}
item::after {
	content: attr(quantity);
	font-size: 16em;
	text-shadow: 0.0625em 0.0625em var(--dark);
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	background: var(--imageOverlay);
	background-size: contain;
	text-align: right;
	line-height: 7.25em;
}
item:hover, item.connecting {
	outline: calc(4px * var(--outline-width-multiplier)) solid #ffffff;
}
item[style*="--imageModulation"]::before {
	content: " ";
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	mask-image: var(--image);
	mask-size: contain;
	background: var(--imageModulation);
	mix-blend-mode: multiply;
}

machineInstance {
	position: absolute;
	top: -42em;
	left: 6em;
	height: 48em;
	width: 48em;
	background: no-repeat top left/48em #222 var(--image);
	text-align: center;
	transition: outline 0.05s;
	outline: 0px solid;
	outline-offset: -2px;
}
machineInstance:hover, machineInstance.connecting {
	outline: 4px solid #ffffff;
}
machineInstance::after {
	position: absolute;
	top: -0.222222222em;
	left: -0.222222222em;
	height: 1.77777778em;
	padding: 0.185185185em 0.648148148em 0em 2.444444444em;
	content: attr(amount);
	font-size: 27em;
	line-height: 1.77777778em;
	background: var(--background);
	z-index: -1;
}
.machine-options {
	position: absolute;
	font-size: 0px;
	top: -72px;
	left: -24px;
	height: 48px;
	translate: 0 16px;
	opacity: 0;
	transition: 0.3s;
	background: var(--background);
	text-wrap: nowrap;
	border: 6px solid var(--background);
	z-index: 1;
}
.machine-options .pullout {
	position: relative;
	display: inline-block;
	width: 12px;
	height: 48px;
	background: url("assets/grippyBar.png");
	margin-right: 6px;
}
.machine-options .pullout::after {
	position: absolute;
	display: block;
	width: 21px;
	height: 60px;
	left: -6px;
	top: -6px;
	content: " ";
}
machineInstance.attached .machine-options {
	left: -6px;
}
machineInstance.pulling .machine-options {
	transition: 0s;
}
machineInstance.attached .pullout {
	display: none;
}
.machine-options .option {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	background: var(--image);
	background-size: contain;
}
.machine-options .option:hover {
	background: var(--dark) var(--image);
	background-size: contain;
}
.machine-options .option.selected {
	outline: 4px solid var(--highlight);
	outline-offset: -4px;
	z-index: 1;
}
machineInstance:not(.attached):hover .machine-options {
	opacity: 1;
	translate: 0;
}

/* MACHINENODE */
.machineNode {
	width: 282px;
	padding: 13px;
	display: flex;
}
.machineNode .machine-options {
	opacity: 1;
	translate: 0;
	left: 0;
	top: 100%;
	z-index: 0;
}
.machineNode machineInstance {
	position: relative;
	display: block;
	width: 64px;
	height: 64px;
	left: 0;
	top: 0;
	border: none;
	background-size: contain;
}
.machineNode machineInstance::after {
	display: none;
}

/* RECIPENODE */
.recipeNode {
	width: 282em;
	display: flex;
}

.recipeNode .inputs, .recipeNode .outputs {
	display: grid;
	grid-template-columns: 64em;
	gap: 8em;
	align-items: center;
	align-content: center;
}
.recipe-arrow {
	position: absolute;
	display: block;
	width: 80em;
	height: 60em;
	background: left top/contain url(assets/recipeArrow.png);
	left: 50%;
	top: 50%;
	translate: -50% -50%;
}
.recipeNode .inputs {
	flex-grow: 1;
}

/* ITEMNODE */
.itemNode {
	width: 282em;
	display: flex;
}
.itemNode item,
.machineNode machineInstance {
	flex-shrink: 0;
}
.itemNode .right-side,
.machineNode .right-side {
	margin-left: 8px;
	min-width: 0;
}
.itemNode .number-container,
.machineNode .number-container {
	display: flex;
	margin-bottom: 8px;
	direction: ltr;
}
.itemNode .quantity, .itemNode button, .itemNode span,
.machineNode .quantity, .machineNode button, .machineNode span {
	box-sizing: border-box;
	font-size: 24px;
	padding: 0px 4px;
	outline: none;
	border: none;
	background: var(--dark);
}
.itemNode .quantity{
	min-width: 0;
	color: var(--highlight);
	text-align: right;
	flex-shrink: 1;
}
.machineNode .quantity {
	min-width: 0;
	color: var(--highlight);
	text-align: left;
	flex-shrink: 1;
}
.itemNode .quantity:focus {
	outline: 2px solid var(--highlight);
}
.itemNode .quantity:focus + span {
	outline: 2px solid var(--highlight);
}
.itemNode span {
	line-height: 28px;
	padding-left: 0;
}
.machineNode span {
	line-height: 28px;
	padding-right: 0;
}
.itemNode .constrain,
.machineNode .constrain {
	display: none;
}
.itemNode label::after,
.machineNode label::after {
	content: "\f09c";
	font-family: fontawesome;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	line-height: 27px;
	width: 27px;
	height: 27px;
	background: var(--dark);
	color: var(--highlight);
	cursor: pointer;
}
.itemNode label:hover::after,
.machineNode label:hover::after {
	background: var(--bright);
}
.itemNode label:has(input:checked)::after,
.machineNode label:has(input:checked)::after {
	content: "\f023";
}
.itemNode .error,
.machineNode .error {
	font-family: fontawesome;
	vertical-align: top;
	height: 27px;
	width: 27px;
	padding: 0;
	text-align: center;
	margin-left: 8px;
	display: none;
}
.itemNode .error[name],
.machineNode .error[name] {
	display: inline-block;
}

.itemNode button.flipper,
.machineNode button.flipper {
	font-family: fontawesome;
	float: right;
	font-size: 20px;
	width: 27px;
	height: 27px;
	background: none;
	color: var(--dark);
}
.itemNode button.flipper:hover,
.machineNode button.flipper:hover {
	color: var(--bright);
}
.itemNode.flipped,
.machineNode.flipped {
	direction: rtl;
}
.itemNode.flipped .right-side,
.machineNode.flipped .right-side {
	margin-left: 0;
	margin-right: 8px;
}
.itemNode.flipped button.flipper,
.machineNode.flipped button.flipper {
	float: left;
}

/* CONNECTION */
connection {
	position: absolute;
	--posX: 0;
	--posY: 0;
	--radius: 2;
	left: calc((var(--posX) - var(--radius)) * 1px);
	top: calc((var(--posY) - var(--radius)) * 1px);
	--perpC: 0;
	--paraMin: 0;
	--paraMax: 0;
	background: var(--highlight);
	z-index: 1;
}
connection:not(.dragging):hover {
	--radius: 4;
}
connection line {
	--toX: 0;
	--toY: 0;
	--aX: var(--radius);
	--aY: var(--radius);
	--bX: calc(var(--toX) - var(--posX) + var(--radius));
	--bY: calc(var(--toY) - var(--posY) + var(--radius));
}
connection line:not(.toItemNode) {
	background: var(--highlight);
	--shortenBy: 32;
}
connection line.inputs {
	--shortenBy: 40;
}
connection line.inputs::after {
	content: " ";
	position: absolute;
	top: 50%;
	left: calc(var(--distance) * 1px);
	border-left: 10px solid var(--highlight);
	border-top: 10px solid #0000;
	border-bottom: 10px solid #0000;
	translate: -50% -50%;
}

connection.vertical {
	--posX: round(var(--perpC), 6);
	--posY: round(var(--paraMin), 6);
	width: calc(var(--radius) * 2px);
	height: calc((var(--paraMax) - var(--paraMin)) * 1px + var(--radius) * 2px);
}
connection.vertical line { --aY: var(--bY); }
connection.vertical line.toItemNode { --aY: calc(max(min(round(var(--paraC) - 48, 96) + 48 - var(--paraMin), (var(--paraMax) - var(--paraMin))), 0) + var(--radius)); }
connection.horizontal {
	--posX: round(var(--paraMin), 6);
	--posY: round(var(--perpC), 6);
	width: calc((var(--paraMax) - var(--paraMin)) * 1px + var(--radius) * 2px);
	height: calc(var(--radius) * 2px);
}
connection.horizontal line { --aX: var(--bX); }
connection.horizontal line.toItemNode { --aX: calc(max(min(round(var(--paraC) - 48, 96) + 48 - var(--paraMin), (var(--paraMax) - var(--paraMin))), 0) + var(--radius)); }

/* LINE */
line {
	position: absolute;
	--aX: 0;
	--aY: 0;
	--bX: 0;
	--bY: 0;
	--shortenBy: 0;
	--width: 2px;
	--distance: calc(max(sqrt(
		pow(var(--aX) - var(--bX), 2) + pow(var(--aY) - var(--bY), 2)
	) - var(--shortenBy), 12)); /* 12 has no significance */
	left: calc(var(--aX) * 1px + 2px);
	top: calc(var(--aY) * 1px - var(--width));
	transform-origin: -2px var(--width);
	height: calc(var(--width) * 2);
	width: calc(var(--distance) * 1px - 4px);
	--angle: calc(atan2(var(--bY) - var(--aY), var(--bX) - var(--aX)));
	rotate: var(--angle);
	background: url(assets/dashedLine.png);
	background-size: contain;
	background-position: calc(var(--distance) * 0.5px) 0px;
}
line.dragged {
	pointer-events: none;
}
line:hover {
	background: var(--highlight);
	--width: 4px;
}
